<article class="blog-post">
    <h2 class="blog-post-title"><%= article.title %></h2>
    <p class="blog-post-meta">
        <%= year_right(article.created_at) %> <%= article.user.email %></p>

    <p><%= truncate(article.body, length: 150) %></p>

    <p><%= link_to 'Continue lendo...', article, class: 'btn btn-secondary' %></p>

    <%= link_to 'Editar', edit_article_path(article),class:'btn btn-dark' %>
    <%= link_to 'Apagar', article_path(article), 
        method: :delete,
        data: {confirm: 'Are you sure you want to delete? '},
        class: 'btn btn-danger' %>
  </article>