<article class="blog-post">
    <h2 class="blog-post-title"><%= @article.title %></h2>
    <p class="blog-post-meta">
        <%= year_right(@article.created_at) %> by <%= @article.user.email %>
    </p>

    <p><%= @article.body %></p>

<ul>
    <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-dark' if policy(@article).update? %>
    <%= link_to 'Delete', article_path(@article), 
        method: :delete,
        data: {confirm: 'Are you sure you want to delete? '},
        class: 'btn btn-danger'if policy(@article).destroy?  %>
    <%= link_to 'Back', root_path, class: 'btn btn-info' %>
</ul>
</article>